<div class="col-sm-12">
	<p>hcxp is a completely independent hardcore punk community portal focused
	around news and links aggregation. Kind of like reddit but way more focused
	on music/hardcore punk content.</p>

	<p>We're currently in alpha stage just to check if anyone will use it. If you
	have any suggestions or you just want to ask anything related to hcxp, please
	<a href="/stories/new">create a new story</a> with <a href="/t/meta">#meta</a> tag and write it there.</p>

	<hr/>

	<p>Our aim is to be as "open" as it's possible. It means that our entire codebase is
	opensource (<a href="https://github.com/hcxp/hcxp">github repo here</a>) and next step is to create
	an open API to make you able to access all the hcxp data without any limitations.
	Hopefully some day that will end up with some amazing third-party projects made by hcxp members,
	who knows!</p>

	<br/>

	<p class="text-center"><strong>DIY or DIE</strong></p>
</div>