// Colors
$blue: #477dca;
$dark-gray: #555;
$medium-gray: #999;
$light-gray: #ddd;
$lighter-gray: #eee;

$brand-red: #C95D63;
$brand-yellow: #D7AF70;
$brand-green: #94AE89;
$brand-orange: #F1BF98;

$story-padding: 0.5em;